:root{

    --font16: 16px;
    --font18: 18px;
    --font20: 20px;
    --font30: 30px;

    --blanco: #fff;
    --negro: #000;

    --colorClaro: #d000ff;
    --colorCentroIzquierda: #a600cc;
    --colorIntermedio: #8d00ae;
    --colorCentroDerecha: #70008b;
    --colorOscuro: #4c0060;
}

/* Selectores elementos HTML*/
body{
    font-family: 'Handlee', cursive;
}

header,.modal-header{
    background: linear-gradient(90deg, rgba(105,2,128,1) 0%, rgba(32,24,24,1) 100%);
    box-shadow: 1px 6px 15px 5px #000000;
}

/* Selectores de clases Bootstrap */

.modal-header, .modal-footer{
    border: none;
}

.form-check-input:checked {
    background-color: var(--colorCentroIzquierda);
    border-color: var(--colorOscuro);
}

.form-check-input:focus {
    box-shadow: none;
}


/* Selectores de clases */

.btn_jugar{
    background-color: var(--colorOscuro);
    color: var(--blanco);
    border: solid 3px var(--blanco);
}

.fs-18{
    font-size: var(--font18);
}

.fs-20{
    font-size: var(--font20);
}

.fs-30{
    font-size: var(--font30);
}

.colorCentroIzquierda{
    color: var(--colorCentroIzquierda);
}

.colorOscuro{
    color: var(--colorOscuro);
}

.colorCentroIzquierda2{
    color: #9a5510;
}

.colorOscuro2{
    color: #4e4032;
}

.color_oscuro{
    color: var(--colorOscuro);
}

.puntaje_maximo{
    font-weight: 900;
}

.txt_personaje{
    font-size: var(--font18);
}

.img_personaje{
    width: 110px;
    height: 100px;
    box-shadow: 1px 3px 15px 5px var(--negro);
}

.btn_comenzarPartida{
    border: solid 3px var(--colorIntermedio);
    background-color: var(--colorIntermedio);
    color: var(--blanco);
    box-shadow: 0px 3px 15px 1px var(--negro);
    transition: all 0.3s;
}

.btn_comenzarPartida:hover{
    background-color: var(--blanco);
    color: var(--colorIntermedio);
}

.txt_personaje_j1, .puntaje_j1{
    color: var(--colorIntermedio); 
}

.txt_personaje_j2, .puntaje_j2{
    color: #7d4d1d;
}

.btn_x_o{
    height: 110px;
    background-color: var(--blanco);
    font-size: 85px;
}

.border_bottom_right{
    border-bottom: solid 6px var(--negro);
    border-right: solid 3px var(--negro);
    border-top: none;
    border-left: none;
}

.border_bottom_right_left{
    border-bottom: solid 6px var(--negro);
    border-right: solid 3px var(--negro);
    border-left: solid 3px var(--negro);
}

.border_bottom_left{
    border-bottom: solid 6px var(--negro);
    border-left: solid 3px var(--negro);
}

.border_right{
    border-right: solid 3px var(--negro);
}

.border_right_left{
    border-left: solid 3px var(--negro);
    border-right: solid 3px var(--negro);
}

.border_left{
    border-left: solid 3px var(--negro);
}

.btn_deshabilidado{
    pointer-events: none;
}

.j1, .j2 ,.j1_ganador, .j2_ganador{
    font-weight: 900;
}

.j1{
    animation: parpadeo_j1 4s ease infinite;
}

@keyframes parpadeo_j1 {
    
    0%{
        color: var(--colorOscuro);
    }

    20%{
        color: var(--colorCentroDerecha);
    }

    40%{
        color: var(--colorIntermedio);
    }

    60%{
        color: var(--colorCentroIzquierda);
    }

    80%{
        color: var(--colorClaro);
    }

    100%{
        color: var(--colorOscuro);
    }
}

.j2{
    animation: parpadeo_j2 4s ease infinite;
}

@keyframes parpadeo_j2{

    0%{
        color: #4e4032;
    }

    20%{
        color: #674727;
    }

    40%{
        color: #7d4d1d;
    }

    60%{
        color: #9a5510;
    }

    80%{
        color: #b65d03;
    }

    100%{
        color:#4e4032; 
    }
}

.j1_ganador{
    color: var(--colorCentroIzquierda);
    background-color: var(--colorOscuro);
}

.j2_ganador{
    color: #bababa;
    background-color: #4e4032;
}

@media (min-width: 280px) {

    .j1_ganador, .j2_ganador{
        width: 100% !important;
        border-radius: 50%;
    }
}

@media (min-width: 400px) {

    .j1_ganador, .j2_ganador{
        width: 100px !important;
    }

}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

    .j1_ganador, .j2_ganador{
        width: 130px !important;
    }

}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}
