:root{

    --font5: 5px;
    --font15: 15px;
    --font18: 18px;
    --font20: 20px;
    --font30: 30px;

    --blanco: #fff;
    --negro: #000;

    --colorClaro: #ff6201;
    --colorCentroIzquierda: #e05200;
    --colorIntermedio: #cb4600;
    --colorCentroDerecha: #b13800;
    --colorOscuro: #9a2b00;
}

/* Selectores elementos HTML */

body{

    font-family: 'Kalam', cursive;
}

h1{
    color: var(--blanco);
    background: linear-gradient(90deg, rgba(255,98,1,1) 0%, rgba(154,43,0,1) 100%);
    box-shadow: 0px 7px 13px 8px var(--colorOscuro);
}

/* Selectores de clases */

.fs-18{
    font-size: var(--font18);
}

.colorClaro{
    color: var(--colorClaro);
}

.colorOscuro{
    color: var(--colorOscuro);
}

.container_letras{
    border: 3px solid var(--colorOscuro);
    border-radius: var(--font15);
    box-shadow: 1px 1px 13px 1px rgba(154,43,0,1);
}

.cuenta_regresiva{
    font-size: var(--font20);
    color: var(--colorOscuro)
}

.btn_jugar{
    color: var(--blanco);
    background-color: var(--colorOscuro);
    border: solid 3px transparent;
    box-shadow: 0px 3px 13px 0px var(--colorIntermedio);
    transition: all 0.3s;
}

.btn_jugar:hover{
    background-color: var(--colorCentroIzquierda);
    box-shadow: 0px 3px 13px 0px var(--colorOscuro);
}

.btn_jugar_presionado{
    color: var(--blanco);
    background-color: var(--colorCentroIzquierda);
    border: solid 3px transparent;
    box-shadow: 0px 3px 13px 0px var(--colorOscuro);
    opacity: 0.7;
    pointer-events: none;
}


.btn_letra, .btn_letra_click, .palabra_correcta{
    width: var(--font30);
    height: var(--font30);
}

.btn_letra, .btn_letra_click, .palabra_correcta{
    border-radius: var(--font5);
}

.btn_letra_click, .palabra_correcta{
    color: var(--blanco);
}

.btn_letra{
    
    color: var(--colorOscuro);
    background-color: var(--blanco);
    border: solid 2px var(--colorOscuro);
    transition: all 0.3s;
}

.btn_letra:hover{

    color: var(--blanco);
    background-color: var(--colorOscuro);

}

.btn_letra_click{

    background-color: var(--colorIntermedio);
    border: solid 2px var(--colorIntermedio);
}

.palabra_correcta{
   background-color: var(--colorClaro);
   border: solid 2px var(--colorClaro);
   box-shadow: 0px 3px 13px 0px var(--colorOscuro);
   pointer-events: none;
   animation: animacion_palabra_correcta 3s ease infinite;
}

@keyframes animacion_palabra_correcta {

    0% {

        background-color: var(--colorClaro);
        border: solid 2px var(--colorClaro);

    }

    20% {
        background-color: var(--colorCentroIzquierda);
        border: solid 2px var(--colorCentroIzquierda)
    }

    40% {
        background-color: var(--colorIntermedio);
        border: solid 2px var(--colorIntermedio);
    }

    60% {
        background-color: var(--colorCentroDerecha);
        border: solid 2px var(--colorCentroDerecha);
    }

    80% {
        background-color: var(--colorOscuro);
        border: solid 2px var(--colorOscuro)
    }

    100% {
        background-color: var(--colorClaro);
        border: solid 2px var(--colorClaro)
    }
    
}

.letras_deshabilitadas{
    opacity: 0.5;
    pointer-events: none;
}

.txt_nombres{
    color: var(--colorOscuro);
    font-size: var(--font18);
}

.nombres_encontrados li::marker{
    color: var(--colorOscuro);
}


/* Media Queries */

@media (min-width: 280px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 9px;
        height: 30px;
        font-size: 8px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .txt_nombres,.nombres_encontrados{
        font-size: var(--font15);
    }
}

@media (min-width: 300px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 10px;
        font-size: 9px;
        
    }
}

@media (min-width: 310px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 11px; 
    }
}

@media (min-width: 330px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 12px; 
    }
}

@media (min-width: 345px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 13px; 
    }
}

@media (min-width: 360px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 14px;    
    }
}

@media (min-width: 380px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 15px;
    }
}

@media (min-width: 400px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 16px;
        font-size: var(--font15);
        
    }

    .txt_nombres,.nombres_encontrados{
        font-size: var(--font18);
    }
}

@media (min-width: 415px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 17px;  
    }
}

@media (min-width: 430px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: var(--font18);
        font-size: var(--font15);
        
    }
}

@media (min-width: 440px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 19px;
    }
}

@media (min-width: 460px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 20px;     
    }
}

@media (min-width: 480px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 21px; 
    }

}

@media (min-width: 500px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 22px; 
    }

}

@media (min-width: 520px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 23px;    
    }
}

@media (min-width: 768px) { 
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: var(--font30);    
    }

}

@media (min-width: 992px) {
    
    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 21px; 
    }

    .txt_nombres, .nombres_encontrados{
        font-size: 13px;
    }

}

@media (min-width: 1200px) {

    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: 24px; 
    }

    .txt_nombres, .nombres_encontrados{
        font-size: var(--font15);
    }
}

@media (min-width: 1400px) {

    .btn_letra, .btn_letra_click, .palabra_correcta{
        width: var(--font30); 
    }
}